#chat-screen {
   background-color: #ABC1D1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0;
  padding-top: 70px;
  box-sizing: border-box;
  background-color: #ABC1D1;
  z-index: 1;
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  font-size: 15px;
  background-color: #92A4B2;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img{
  width: 50px;
  height: 50px;
  border-radius: 37%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  padding: 15px;
  border-radius: 18px;
  border-top-left-radius: 0;
  margin-right: 8px;
}

.message__time {
  opacity: 0.8;
  font-size: 15px;
}


.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 18px;
  border-top-right-radius: 0;
  margin-right: 0;
  margin-left: 8px; 
}

.reply {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
  box-sizing: border-box;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:first-child i {
  opacity: 0.5;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column:last-child input {
  width: 100%;
  height: 50px;
  border: var(--main-border);
  padding: 15px;
  border-radius: 30px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
}

.reply__column:last-child > i {
  top: 25px;
  right: 65px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  top: 4px;
  right: 5px;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  
}