.screen-header {
    margin-top: 60px;
    padding: 0 var(--horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header-icons i {
    margin-left: 30px;
}